:root {
    --dark-bg-color: #fff;
    --dark-color: #000;
    --dark-home-bg-color: #f0f2f5;
    --dark-login-color: #001529;
}

.dark-theme {
    background-color: var(--dark-bg-color);
    color: var(--dark-color);
}