.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--dark-bg-color);
}
.content {
    font-size: 24px;
    color: var(--dark-color);
}
